/* Navbar */

.navbar-dark .navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2em;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: 'Montserrat', sans-serif;
}

/* Posts */

h2 {
  font-size: 4em;
  color: #226666;
  font-family: 'Lobster', cursive;
}

p {
  font-family: 'Merriweather', serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}

p {
  font-size: 1.2em;
  letter-spacing: 1px;
}

img {
  width: 100%;
}

.form-container {
  max-width: 700px;
}

/* article animation */
article {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* footer */

footer {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}
